<%= form_with(model: @task, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります</h2>
      <ul>

      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>  
      </ul>
    </div>
  <% end %>

  <div class="task_name">
    <h3><label for="name">名称</label></h3>
    <p><%= form.text_field :name %></p>
  </div>

  <div class="task_description">
    <h3><label for="description">詳しい説明</label></h3>
    <p><%= form.text_area :description %></p>
  </div>

  <div class="task_expiry_date">
    <h3><label for="expiry_date">終了期限</label></h3>
    <p><%= form.date_select :expiry_date %></p>
  </div>

  <div class="task_stasus">
    <h3><label for="stasus">ステータス</label></h3>
    <%= form.select :status, [["未着手","未着手"],["着手","着手"],["完了","完了"]], include_blank: "選択して下さい" %>
  </div>

  <div class="task_priority">
    <h3><label for="priority">優先順位</label></h3>
    <%= form.select :priority, Task.priorities.keys, {prompt: "選択してください"}, class: "priority_select" %>
  </div>
<%= form.submit "登録する" %>
<% end %>

<%= link_to "一覧", tasks_path %>
