<h3>以下の内容、送信する。</h3>

<%= form_with(model: @task, local: true) do |form| %>
  <%= form.hidden_field :name %>
  <%= form.hidden_field :description %>
  <%= form.hidden_field :expiry_date %>
  <%= form.hidden_field :status %>
  <%= form.hidden_field :priority %>
  <% @task.labels.each do |label| %>
    <%= form.hidden_field :label_ids, multiple: true, value: label.id %>
  <% end %>

  <p>名称 <%= @task.name %></p>
  <p>詳しい説明 <%= @task.description %></p>
  <p>終了期限 <%= @task.expiry_date %></p>
  <p>ステータス <%= @task.status %></p>
  <p>優先順位 <%= @task.priority %></p>
  <p>ラベル<% @task.labels.each do |label| %>
    <%= label.name %>
  <% end %></p>

  
  <%= form.submit "登録する" %>
<% end %>
<%= link_to '戻る', name: 'back' %>
