<h3>Taskleaf</h3>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <div><h3>タスク一覧</h3></div>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> 
</head>
<h4>タスク検索</h4>
<%= form_with(scope: :task, url: tasks_path, method: :get, local: true) do |form| %>
  <%= form.label "タスク名" %>
  <%= form.text_field :name %>
  <%= form.label "ステータス" %>
  <%= form.select :status, ["未着手","着手","完了"], include_blank: "選択して下さい" %>
  <%= submit_tag '検索する',id:'search_button' %>
<% end %>  

<body>
  <table>
    <div class="container">
      <div class="row">
        <tr>
          <h2><th><div class="col">ユーザー名</div></th></h2>
          <h2><th><div class="col">名称</div></th></h2>
          <h2><th><div class="col">詳しい説明</div></th></h2>
          <h2><th><div class="col"><%= link_to"終了期限",tasks_path(sort_expired:"true") %></div></th></h2>
          <h2><th><div class="col">ステータス</div></th></h2>
          <h2><th><div class="col"><%= link_to"優先順位",tasks_path(sort_priority:"true") %></div></th></h2>
        </tr>

        <% @tasks.each do |task| %>
          <tr class="task_row">
            <td><div class="col"><%= task.user.name %></div></td>
            <td><div class="col"><%= task.name %></div></td>
            <td><div class="col"><%= task.description %></div></td>
            <td><div class="col"><%= task.expiry_date %></div></td>
            <td><div class="col"><%= task.status %></div></td>
            <td><div class="col"><%= task.priority %></div></td>
            <td><div class="panel panel-FFE98D"><%= link_to '詳細', task_path(task.id) %></div></td>
            <td><div class="panel panel-42ABB3"><%= link_to '編集', edit_task_path(task.id), data: { confirm: '編集していいですか？' } %></div></td>
            <td><div class="panel panel-EB5E69"><%= link_to '削除', task_path(task.id), method: :delete ,data: { confirm: '削除していいですか？' } %></div></td>
          </tr>
        <% end %>
      </div>
    </div>  
  <div class="panel panel-blue"><%= link_to '新規登録',new_task_path %></div>
  <style>
    body {
      margin: 4rem 0;
    }
    .panel {
        border-radius: 0.3rem;
        padding: 1rem;
        margin-bottom: 1rem;
    }
    .panel-FFE98D {
        background-color: #FFE98D;
    }
    .panel-42ABB3 {
        background-color: #42ABB3;
    }
    .panel-EB5E69 {
        background-color: #EB5E69;
    }  
  </style>
  </table>
</body> 

<%= paginate @tasks %>