<h3>Taskleaf</h3>

<h3><%= @user.name %>のページ</h3>
<p>メールアドレス: <%= @user.email %></p>
<body>
  <table>
    <div class="container">
      <div class="row">
        <tr>
          <h2><th><div class="col">ユーザー名</div></th></h2>
          <h2><th><div class="col">名称</div></th></h2>
          <h2><th><div class="col">詳しい説明</div></th></h2>
          <h2><th><div class="col"><%= link_to"終了期限",tasks_path(sort_expired:"true") %></div></th></h2>
          <h2><th><div class="col">ステータス</div></th></h2>
          <h2><th><div class="col"><%= link_to"優先順位",tasks_path(sort_priority:"true") %></div></th></h2>
        </tr>

        <% @tasks.each do |task| %>
          <tr class="task_row">
            <td><div class="col"><%= task.user.name %></div></td>
            <td><div class="col"><%= task.name %></div></td>
            <td><div class="col"><%= task.description %></div></td>
            <td><div class="col"><%= task.expiry_date %></div></td>
            <td><div class="col"><%= task.status %></div></td>
            <td><div class="col"><%= task.priority %></div></td>
          </tr>
        <% end %>
      </div>
    </div>  
  </table>
</body> 

<%= link_to "タスク一覧へ", tasks_path %>